<!DOCTYPE html>
<html>
  <head>
    <title>Ferma</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <meta name="turbo-prefetch" content="false">
  </head>

  <body>
    <% if user_signed_in? %>
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap px-0 py-2 shadow">
      <%= render 'layouts/navbar' %>
    </header>

    <main class="container-fluid" style="margin-top: 58px;">
        <div id="our_flash" class="position-fixed z-1 top-0 end-0 p-3 w-50">
          <%= render "shared/flash"%>
        </div>
      <div class="row">
        <div class="col-md-3">
          <%= render 'layouts/sidebar' %>
        </div>
        <div class="col-md-9 ms-sm-auto col-lg-10 px-0">
          <%= yield %>
        </div>
      </div>
    </main>
    <%else%>
      <%= yield %>
    <%end%>
  </body>
</html>
